<mat-sidenav-container> 
    <mat-sidenav  mode="side" #sidenav>
        <!--this is a place for us to add side-nav code--> 
		<stripehiv-navigation></stripehiv-navigation>
    </mat-sidenav> 
    <mat-sidenav-content> 
        <!--in here all the content must reside. We will add a navigation header as well-->
        <stripehiv-header (sidenavToggle)="sidenav.toggle()"></stripehiv-header>
        <main class="col-md-12">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content> 
</mat-sidenav-container>
